# Server Log Configuration (Single file, comma-separated list, or glob/wildcard patterns)
# Examples:
#   LOG_FILE_PATH=/var/log/nginx/access.log
#   LOG_FILE_PATH=/var/log/nginx/custom-domain-access.log,/var/log/nginx/abc-domain-access.log
#   LOG_FILE_PATH=/var/log/nginx/*-access.log
LOG_FILE_PATH=/var/log/nginx/access.log

# IP Blocking Mode ("both", "cloudflare", or "iptables")
BLOCK_MODE=both

# Threshold & Window Configuration
MAX_HITS=3
TIME_WINDOW_SECONDS=60

# Whitelisted IPs & Subnets (Comma-separated)
WHITELIST_IPS=127.0.0.1,::1
WHITELIST_CLOUDFLARE=true

# Cloudflare Configuration
CLOUDFLARE_ZONE_ID=your_cloudflare_zone_id
CLOUDFLARE_API_KEY=your_cloudflare_api_token
CLOUDFLARE_API_ENDPOINT=https://api.cloudflare.com/client/v4/zones/%s/firewall/access_rules/rules

# Telegram Alert Configuration
TELEGRAM_BOT_KEY=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
